<a href="https://colab.research.google.com/github/maniac73/Baseball/blob/master/Truehit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd
import numpy as np

url = 'https://raw.githubusercontent.com/maniac73/Baseball/master/Truehit.csv'
df = pd.read_csv(url)

In [48]:

df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.dropna(inplace=True)
df.sort_values('TrueHit', ascending=False, inplace=True)
df[(df['yearID'] == 2018) & (df['G'] > 100)]

        Unnamed: 0   playerID  yearID  stint  ...   SF  GIDP   1B   TrueHit
105723      105723  troutmi01    2018      1  ...  4.0   5.0   80  1.403397
105280      105280  muncyma01    2018      1  ...  2.0   4.0   50  1.329114
105034      105034  judgeaa01    2018      1  ...  5.0  10.0   66  1.305085
105175      105175  martijd02    2018      1  ...  7.0  19.0  106  1.268893
104930      104930  harpebr03    2018      1  ...  9.0   7.0   69  1.227273
...            ...        ...     ...    ...  ...  ...   ...  ...       ...
104866      104866  gordode01    2018      1  ...  5.0  10.0  120  0.732014
105002      105002  iglesjo01    2018      1  ...  2.0  11.0   77  0.731481
105463      105463  reyesjo01    2018      1  ...  0.0   5.0   24  0.710526
104722      104722  escobal02    2018      1  ...  4.0  14.0   83  0.705155
105347      105347  panikjo01    2018      1  ...  4.0  10.0   72  0.701117

[235 rows x 25 columns]